.background {
    width: auto;
    height: 400px;
    background-image: url(../images/bg.jpg);
   
   
}

h1, h2 {
    color: wheat;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-weight: bolder;
    
}
.wel {


    color: wheat;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-weight: bolder;
    padding-top: 20px;



}

nav {
    background-color: #ffe8d6;
margin-top: -20px;
text-align: center;
}

nav ul li 
{
    display: inline-block;
    margin-right: 60px;
    padding: 20px;
    
}
nav ul li a {
    color:#432818;
    font-family: 'Courgette', cursive;
    font-weight: bolder;
    letter-spacing: 2px;

}
.wel{
    background-color: #90323d;
    margin-top: -20px;
    padding-bottom: 60px;
    border: solid;
    border-color: wheat;
}


.images  {
    display: inline-block;
    /* width: 100px;
    height: 100px; */
    /* margin-left: 180px; */
    margin-right: auto;
    text-align: center;
background-color: #f0ead2;
width: auto;
padding-top: 15px;
padding-bottom: 15px;
padding-right: 190px;
 padding-left: 150px; 


}

article img{
    float: left;
    margin-left: 180px;
    /* background-color:#90323d ; */
padding-bottom: 20px;
background-color: wheat;
}

#order {
    width: 1000px;
    height: 500px;
    padding: 20px;
    margin: 100px auto;
    box-shadow: 0px 0px 10px 2px gray;
    border : 10px #f0ead2 solid ;
    background-color: #90323d;
}








button {
    background-color: #3d5a80;
    padding: 15px;
    margin-top: 20px;
    margin-left: 100px;
    border-color: white;
    color: white;
    border-radius: 50px;
    width: 250px;
    font-weight: bolder;
    font-size: larger;
    font-family: 'Amatic SC', cursive;
}

.pick {
    font-family: 'Amatic SC', cursive;
font-family: 'Great Vibes', cursive;
font-family: 'Source Code Pro', monospace;
font-weight: lighter;
letter-spacing: -2px;
font-size: 25px;
}





li :hover {

    color :#84a59d ;
}





 p {
     clear:both; 
     text-align: left;

     padding-top: 40px;
     background-color: #90323d ;

 }


 article h1 , article h2 {
     font-weight: bolder;
     font-size: 40px;
 }


 