table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: .9em;
    min-width: 1000px;
    background-color: #cb997e;
    color: #3d405b;
}

table > tr td {
    background-color: #a8dadc;


}

.table tr th {
    padding: 20px; 
}
tr {
    border-bottom: 5px solid white;
}
td {
    border-right: white 2px solid ;
}


form {
    width: 600px;
    background-color: #fae0e4;
    margin-left: 300px;
    color: #013a63;
}

#submit {
    margin-left: 220px;
    padding: 15px;
    background-color: #bee9e8;

}

input :focus {
    background-color: #bee9e8;
}